################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MaintranceMonitoring/MaintranceMonitoring/DB/MaintranceMonitoring2017/bin/Debug
/MaintranceMonitoring/MaintranceMonitoring/DB/MaintranceMonitoring2017/obj/Debug
/MaintranceMonitoring/MaintranceMonitoring/DB/MaintranceMonitoring2017/MaintranceMonitoring2017.jfm
/MaintranceMonitoring/MaintranceMonitoring/DB/MaintranceMonitoringTempDB2017/bin/Debug
/MaintranceMonitoring/MaintranceMonitoring/DB/MaintranceMonitoringTempDB2017/obj/Debug
/MaintranceMonitoring/MaintranceMonitoring/DB/MaintranceMonitoringTempDB2017/MaintranceMonitoringTempDB2017.jfm
/MaintranceMonitoring/MaintranceMonitoring/SSIS/MaintranceMonitoring2017/bin/Development
/MaintranceMonitoring/MaintranceMonitoring/SSIS/MaintranceMonitoring2017/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/dbo_BranchFaildLog/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/dbo_BranchFaildLog/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceBackup_Backupset/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceBackup_Backupset/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceBackup_RestoreHistory/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceBackup_RestoreHistory/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceInstance_Alwayson/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceInstance_Alwayson/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceJob_JobActivity/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceJob_JobActivity/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceJob_JobHistory/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceJob_JobHistory/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceJob_SSISExecution/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceJob_SSISExecution/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceReplication_DistributionAgent/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceReplication_DistributionAgent/obj/Development
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceReplication_SubscriptionPendingCommand/bin
/MaintranceMonitoring/MaintranceMonitoring_SSAS/MaintranceReplication_SubscriptionPendingCommand/obj/Development
